.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0 5rem;
  box-shadow: 0 20px 20px rgba(#000, 0.2),
              0 0px 50px rgba(#000, 0.2);
  transition: all 500ms ease;
}
